*{
    font-family: "Madimi one";
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    
    background-color: rgb(218, 228, 248);
}
/*section start navbar */
.nav-img {
    width: 80px;
    height: 50px;
}
.navigation{
    display: flex;
    justify-content: center;
}
header{
    width: 85%;
    position: fixed;
    height: 70px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.logo1 > h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    color:  #675cff;
    font-size: 2rem;
}
.logo1{
    display: none;
}
nav ul {
    display: flex;
}
nav ul li a{
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
}
nav ul li a:hover{
    background: #d5d1e9;
     border-radius: 5px;
}
nav ul li a.active {
    /* background: #675cff; */
    border-bottom: #675cff solid;
    /* color: #fff; */
}
.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}
.hamburger:hover{
    background-color: #d5d1e9;
}
.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}
@media only screen and (max-width: 992px) {
    header{
        width: 90%;
        padding: 0 20px;

    }
    nav{
        position: absolute;
        left: -350px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color:#fefefe ;
        opacity: 0.75;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: -6%;
    }
    .logo1{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;

    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul li a.active {
        background: #675cff;
        color: #fff;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger{
        display: block;
    }
  }
 /*section end navbar */
 /* section start typing text */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
}
/* #home{
    background-image: linear-gradient(90deg, rgba(160,214,218,1) 0%, rgba(146,150,212,1) 100%);
} */
.home-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 100vh;
    /* padding: 1rem; */
}
.text-area > h1{
   margin: 0;
   width: 170px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 6px solid whitesmoke;
    animation: berjalan 3s steps(8, end), berkedip 0.5s ease infinite;
}
.text-area{
    margin: auto;
    width: 60%;
}
.button-div {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    margin-top: 20px;
}
.btn2 {
    background-color: whitesmoke;
    border-radius: 20px;
    width: 75%;
    padding: 5px;
}
.btn2:hover {
    background-color: #a0d6da;
    border-radius: 20px;
}
.sosmed {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    width: 100%;
}
.sosmed > a:hover{
    background-color: rgb(153, 132, 173);
    border-radius: 5px;
}
.sosmed-icon > a{
    padding: 0;
    padding: 0.5rem;
}
.sosmed-icon > a:hover{
    background-color: rgb(153, 132, 173);
    border-radius: 5px;
}
.sosmed > a{
    color: black;
    padding: 0.5rem;
}
.fa-github{
    color: black;
}
.fa-twitter{
    color: #00b9ff;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #8a49a1;
}
.fa-linkedin{
    color: #0077b5;
}
.home-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 50%;
    border: #212526;
    background-color: #b7d3d4;
    box-shadow: 10px 10px 30px blue;
    border: 2px solid rgb(73, 71, 189) ;
    border-color: linear-gradient(90deg, rgba(160,214,218,1) 0%, rgba(146,150,212,1) 100%);
}
.image-section > img{
    width: 130%;
    border-radius: 50%;
    margin-top: -50%;
}

@media only screen and (max-width: 1100px) {
    .home-image{
        margin-top: 28%;
        height: 30vh;
    
    }
    .home-text{
        /* margin-top: -5%; */
        height: 40vh;
        width: 90%;
    }
    /* .home-text{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        height: 100vh;
        padding: 1rem;
    } */
}
@media only screen and (max-width: 992px) {
    .home-image{
        margin-top: 35%;    
    }
    .home-text{
        width: 100%;
        /* padding: 1rem; */
    }
    .text-area{
        width: 85%;
    }
}

@keyframes berjalan {
    from {
        width: 0;
    }
    to {
        width: 25%;
    }
}
@keyframes berkedip {
    from {
        border-color: transparent;
    }
    50% {
        border-color: aqua;
    }
    to {
        border-color: transparent;
    }
}

/* section end typing text */
 /* start section about */
 #about{
    background-color: whitesmoke;
    margin: 1rem 0 1rem 0;
 }
 .about{
    display: flex;
    flex-direction: column;
    margin: 0 7rem;
 }
 .about > h1{
    font-size: 2rem;
 }
.about-tittle{
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    align-items: end;
    gap: 1rem;
}
.about-tittle > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 2px;
    margin: 6px 0;
    background: #675cff;
    border-radius: 50px;
}
 .about-text{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
 }


 .container-i-do{
    width: 100%;
    max-width: 768;
    margin: 0 auto;

 }
 .row-i-do{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
 }
 .card-i-do{
    flex: 1 1 21rem;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    justify-content: space-between;
    background: #ebf6f7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    align-self: normal;
    padding: 10px 20px;
    border-radius: 10px;
 }
 .card-i-do .img-skill{
    width: 100%;
    border-radius: 5px;
 }
 @media only screen and (max-width: 992px){
.about {
    margin: 0 3rem;
    }
 }
 @media only screen and (max-width: 576px){
    .about {
        margin: 0 2rem;
        }
     }
  /* end section about */
  /* start resume */
 #resume{
    display: flex;
    flex-direction: column;
    margin: 0 7rem;
 }
 .container-resume{
    margin: 1rem 0;
 }
 .row-skill{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
 }
 .card-skill{
    
    flex: 1 1 21rem;
    display: flex;
    flex-direction: column;
     
 }
 .card-skill h3 {
    display: block;
    width: 100%;
 }
 .content-skill{
    margin: 1rem;
    gap: 1rem;
 }
 .content-skill span button {
    padding: 0.5rem; 
    border-radius: 10px;
    margin: 0.5rem;
    border: none;

 }
 @media only screen and (max-width: 992px){
    #resume {
        margin: 0 3rem;
    }
 }
 @media only screen and (max-width: 576px){
    #resume {
        margin: 0 2rem;
    }
 }
 /* end resume */
 /* start contact */
 #contact{
    background-color: whitesmoke;
    padding: 2rem 0;
 }
 .contact{
    display: flex;
    flex-direction: column;
    margin: 0 7rem;
 }
 .form-contact{
    margin: 0 1rem;
 }
 .form-input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 2rem;
 }
 .form-input input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(167, 224, 224);
 }
 .btn-input{
    border-color: aquamarine; 
    border-radius: 10px; 
    width: 100px; 
    margin-top: 1rem;
 }
 .btn-input:hover{
    background: rgb(218, 228, 248);
 }
 @media only screen and (max-width: 992px){
    .contact {
        margin: 0 3rem;
    }
 }
 @media only screen and (max-width: 576px){
    .contact {
        margin: 0 2rem;
    }
 }
 /* end contact */
 /* start footer */
 footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    flex-direction: wrap;
    width: 100%;
 }
footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 10px;
}
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: normal;
    padding: 10px 20px;
    border-radius: 10px;
}
.container-footer p {
    line-height: 2px;
    text-wrap: wrap;
}
 /* end footer */

